@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #0F0F0F;
    --cor-secundaria: #008170;
    --cor-terciaria: #005B41;

    --cor-hover: #232D3F;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 4% 0% 0% 20%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-hover);
}

.apresentacao {
    padding: 6% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 84px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__titulo--destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
}

.apresentacao__conteudo__links__subtitulo {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__conteudo__links__subtitulo:hover {
    color: var(--cor-hover);
}

.apresentacao__conteudo__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    padding: 21.5px 0;
    font-size: 1.5rem;
    text-decoration: none;
    color: #F6F6F6;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    border: 2px solid var(--cor-terciaria);
}

.apresentacao__conteudo__links__link:hover {
    background-color: var(--cor-hover);
}

.apresentacao__foto-autor {
    width: 50%;
    border-radius: 2%;
}

.rodape {
    background-color: var(--cor-terciaria);
    padding: 24px;
    color: #000000;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

@media (max-width: 1420px) {

    .cabecalho {
        padding: 9%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 6%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

}

@media (max-width: 462px) {

    .cabecalho__menu {
        flex-direction: column;
        align-items: center;
    }

    .apresentacao__conteudo__links__navegacao {
        width: 100%;
    }

}